body {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url("https://images.unsplash.com/photo-1520095972714-909e91b038e5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  background-position: center;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.4);
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: inset 60px 50px 200px #000000, inset -60px -50px 200px #000000;

  -webkit-font-smoothing: antialiased;
}

.cover-container {
  max-width: 60vw;
}

.nav-link {
  padding: 0.25rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 1rem;
  border-bottom: 0.25rem solid transparent;
  transition: all 0.5s;
}

.nav-link:hover {
  color: #ffffff;
  border-bottom-color: rgba(255, 255, 255, 1);
}
.nav-link.active {
  color: white;
  border-bottom-color: rgba(255, 255, 255, 0.5);
}

.btn-secondary {
  text-shadow: none;
  color: #333;
}
.btn-secondary:hover {
  text-shadow: none;
  color: #333;
}
#btn-home {
  font-weight: 700;
}

@media (max-width: 700px) {
  #text-content {
    display: none;
  }
  #btn-home {
    padding: auto;
    background-color: #e5e5e5;
    font-weight: 700;
    font-size: 1.1rem;
  }
}
